<%= render 'layouts/base' do %>
  <%= render 'common/navbar' %>
  <%= render 'common/flash_messages' %>

  <main class="flex-shrink-0">
    <%= yield %>
  </main>

  <%= render 'common/footer' %>
<% end %>
