<!DOCTYPE html>
<html>
  <head>
    <title>BentOS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/navbar' %>
    <%= render 'common/flash_messages' %>

    <% flash.each do |type, message| %>
      <p class="<%= type %>"><%= message %></p>
    <% end %>

    <%= yield %>

    <div>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
        <% if defined? user_google_omniauth_authorize_path %>
          <%= link_to "Sign in with Google", user_google_omniauth_authorize_path %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
