<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>BentOS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'common/navbar' %>
    <%= render 'common/flash_messages' %>

    <main class="flex-shrink-0">
      <%= yield %>
    </main>

    <%= render 'common/footer' %>
  </body>
</html>
